[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
pandas-datareader = "*"
datetime = "*"
pyqt5 = "*"
mplfinance = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
